@use "./variables" as v;
@use "./mixins" as m;
@use "./common";

.weather-card {
	background-color: v.$color1;
	color: v.$color4;
	overflow: hidden;
	@include m.flex();
	@include m.border-radius(20px);

	.panel-start {
		background-image: v.$card-bg-img;
		background-size: cover;
		background-position: center center;
		padding: 20px;
		position: relative;
		@include m.flex($fd: column, $gap:30px);
		flex: 3 0 150px;
		@include m.border-radius(20px);

		&::before {
			content: "";
			z-index: 0;
			@include m.watermark(v.$color1);
		}

		h2,
		h4,
		h5 {
			margin: 0;
			@include m.shadow(text, 0 0 3px v.$color5)
		}

		.date,
		.temp {
			position: relative;
			z-index: 1;
		}

		.date {
			h2 {
				font-size: 2rem;
			}

			h4 {
				font-size: 0.7rem;
				font-weight: 400;
			}
		}

		.temp {
			h2 {
				font-size: 2rem;
				font-weight: 600;
				margin: -10px 0;
			}

			h5 {
				font-size: 0.7rem;
				font-weight: 400;
			}
		}
	}

	.panel-end {
		padding: 20px;
		flex: 7 0 300px;
		@include m.flex($fd: column, $gap: 30px);

		.status,
		.days {
			@include m.reset-list();
		}

		.status {
			line-height: 25px;
			li {
				@include m.flex();
			}
		}

		.days {
			@include m.flex();

			li {
				@include m.flex($fd: column, $ai: center);

				padding: 15px;
				span {
					&:first-child {
						font-size: 2rem;
					}
					&:nth-child(2) {
						font-size: 0.7rem;
					}
				}

				&.active {
					background-color: v.$color4;
					color: v.$color5;
					@include m.border-radius(20px);
					@include m.shadow(box, 0 0 5px v.$color5);
				}
			}
		}

		.btn-change {
			@extend .btn-base;
			font-size: 0.9rem;
		}
	}
}
